.main__content {
  width: 100%;
}

.main__table-container {
  display: flex;
  flex-direction: column;
}

.main__table {
  width: 100%;
}

.main__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
}
